<div hx-swap-oob="innerHTML:main">
<section class="h-1/2 flex justify-around items-center" >
    <button id="connect" ws-send type="submit" class="btn" hx-swap-oob="true">Solo</button>
    <button class="btn">Vs.</button>
</section>

<div class="divider"></div>

<section class="h-1/2 flex justify-around">
<div class="overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Playlist</th>
                <th scope="col">Join</th>
            </tr>
        </thead>
        <tbody id="getLobbies" ws-send hx-trigger="every 1s">
            <tr>
                <td>Loading current lobbies</td>
                <td><span class="loading loading-spinner loading-lg"></span></td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
</div>
</section>
</div>
