<section class="h-1/2 flex justify-around items-center" hx-trigger="revealed" hx-get="/navButton" hx-target="#navButton" hx-swap="outerHTML" hx-vals='{ "button": "profile" }'>
    <button class="btn">Solo</button>
    <button class="btn">Vs.</button>
</section>

<div class="divider"></div>

<section class="h-1/2 flex justify-around">
<div class="overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Playlist</th>
                <th scope="col">Join</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
        </tbody>
    </table>
</div>
</section>
