<main class="flex flex-col h-full">
        <section class="h-full flex justify-around">
            <div class="h-fit self-center text-center">
            <span class="loading loading-spinner loading-lg"></span>
            <p id="loadingMessage"><% if (message) { %><%=message%><% } %></p>
            </div>
        </section>
</main>
