<tbody hx-swap-oob="innerHTML:tbody">
    <% if (lobbies == null) { %>
        <tr>
            <td>!</td>
            <td>No lobbies available, start a multiplayer game to create one!</td>
            <td>!</td>
        </tr>
    <% } else { %>

    <% } %>
</tbody>
