<section class="h-full flex flex-col justify-around items-center" hx-trigger="revealed" hx-get="/navButton" hx-target="#navButton" hx-swap="outerHTML" hx-vals='{ "button": "home" }'>
    <h1 class="h-max">Profile</h1>
</section>

