<!DOCTYPE html>
<html lang="en" un-cloak class="h-dvh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songolf</title>
    <script async src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/daisyui.css" rel="stylesheet" type="text/css">
    <script defer src="/js/unocss.js"></script>
    <script defer src="/js/htmx.js"></script>
    <script defer src="/js/ws.js"></script>
</head>

<body class="h-dvh">
    <nav class="navbar bg-base-100 fixed">
        <div class="flex-1">
            <span class="text-xl">Songolf</span>
        </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost" id="navButton" hx-get="/profile" hx-swap="innerHTML" hx-target="main">Profile</button>
        </div>
    </nav>
    <main class="flex flex-col h-full">
        <%- include('components/home') -%>
    </main>
</body>
</html>
